body {
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
}

.aaa {
    padding: 20px;
    border: 1px solid tomato;
    border-radius: 6px;
    height: 20px;
    width: 100px;
    font-size: 18px;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: tomato;
}

button {
    padding: 20px;
    border: 1px solid tomato;
    background-color: transparent;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: tomato;
    white-space:initial !important;
}
